body {
    background-color: bisque;
}

.header {
    text-align: center;
}

.todoListContainer {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 16px;
}

.noTodosText {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.todoCard {
    border: solid 2px blue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.todo-priority  {
    border-radius: 8px;
    padding: 8px 16px;
}

.todo-priority-high {
    background-color: red;
}
.todo-priority-medium {
    background-color: yellow;
}
.todo-priority-low {
    background-color: green;
}